@import '../../index.css';

.panel {
    height: 313px;
    width: 410px;
    border-radius: 22px;
    background: var(--main-panel-bg);
    color: #ffffff;
    box-shadow: -2px 3px 6px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 25px;
    box-sizing: border-box;
}

.inner {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 22px;
    height: 100%;
    width: 100%;
    background: center / 40% no-repeat url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDkuMiAyNDkuMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjI4cHg7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PGcgaWQ9IkxheWVyXzItMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMS0yIj48ZyBpZD0iTGF5ZXJfMi0yLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMi0yIj48ZyBpZD0iTGF5ZXJfMS0yLTItMiIgZGF0YS1uYW1lPSJMYXllciAxLTItMiI+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTI0LjYiIHkxPSIyMzUuMiIgeDI9IjEyNC42IiB5Mj0iMTQiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSIxNCIgeTE9IjEyNC42IiB4Mj0iMjM1LjIiIHkyPSIxMjQuNiIvPjwvZz48L2c+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==');
    background-color: rgba(255, 255, 255, 0.15);
    padding: 75px;
    box-sizing: border-box;
}
